version: 2.1

orbs:
  codecov: codecov/codecov@1.1.3
  hokusai: artsy/hokusai@0.7.8
  yarn: artsy/yarn@5.1.3

not_staging_or_release: &not_staging_or_release
  filters:
    branches:
      ignore:
        - staging
        - release

only_master: &only_master
  context: hokusai
  filters:
    branches:
      only: master

only_release: &only_release
  context: hokusai
  filters:
    branches:
      only: release

workflows:
  default:
    jobs:
      - yarn/type-check:
          <<: *not_staging_or_release

      # pre-staging
      - hokusai/test:
          name: test
          <<: *not_staging_or_release
          post-steps:
            - run: mkdir -p ./coverage
            - run:
                name: Copy coverage artifacts
                command: docker cp hokusai_kaws_1:/app/coverage ./
                when: always
            - codecov/upload:
                file: ./coverage/lcov.info

      # staging
      - hokusai/push:
          name: push-staging-image
          <<: *only_master
          requires:
            - test

      - hokusai/deploy-staging:
          <<: *only_master
          project-name: kaws
          requires:
            - push-staging-image

      # release
      - hokusai/deploy-production:
          <<: *only_release
